<!-- Modale Invio Email PagoPA -->
<div class="modal fade" id="modaleInvioEmailPagopa" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content card-dark" style="box-shadow:0 20px 60px rgba(0,0,0,0.5);">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title fw-bold" style="color:#EDEDED;">Invia PagoPA via Email</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
      </div>
      <div class="modal-body" id="modaleInvioEmailPagopaBody">
      </div>
    </div>
  </div>
</div>
