<!-- Modale Invio Email PagoPA -->
<div class="modal fade" id="modaleInvioEmailPagopa" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div  class="modal-content card-dark shadow-heavy">
      <div class="modal-header border-0 pb-0">
        <h5  class="modal-title fw-bold c-text">Invia PagoPA via Email</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Chiudi"></button>
      </div>
      <div class="modal-body" id="modaleInvioEmailPagopaBody">
      </div>
    </div>
  </div>
</div>
